.wrapper {
  width: 100%;
  display: inline-block;

  margin-left: 16px;

  @media (min-width: 576px) {
    display: flex;
    justify-content: center;

    margin-left: 0x;
  }
}

.scroll {
  margin-top: 8px;

  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;

  span {
    position: absolute;
    top: 0;
    animation: slide 6s infinite;
  }

  @media (min-width: 576px) {
    height: 1.2em;
  }

  @keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
  }
}

.h1 {
  width: 100%;
  white-space: nowrap;

  font-size: 2rem;
  font-weight: 500;

  div {
    width: auto;
  }

  @media (min-width: 576px) {
    font-size: 2rem;

    div {
      width: 100%;
      display: block;
    }
  }

  @media (min-width: 768px) {
    font-size: 2.2rem;
  }

  @media (min-width: 992px) {
    font-size: 2.4rem;
  }

  @media (min-width: 1200px) {
    font-size: 3.2rem;
  }
}

.job_poisition {
  color: var(--primary-color);
}
