.main {
  padding-left: 4px;
  padding-right: 4px;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @media (min-width: 576px) {
    padding-left: 48px;
    padding-right: 48px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.icon_section {
  grid-column: 1;
  grid-row: 3;

  @media (min-width: 576px) {
    grid-column: 1;
    grid-row: 1;
  }
}

.title_section {
  grid-column: 1;
  grid-row: 1;

  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  margin-left: 0px;

  @media (min-width: 576px) {
    grid-column: 2 / span 2;
    grid-row: 1;

    align-items: center;

    margin-left: 40px;
  }
}

.input_section {
  grid-column: 1;
  grid-row: 2;

  @media (min-width: 576px) {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
}
